@charset "utf-8";


/******************************************************************/
/* CSS Document fьr Screens <=640px                               */
/* Date: 15.06.2016                                               */
/* here is the validator: http://www.css-validator.org            */ 
/******************************************************************/


body
{
    background-color: #de883a;                  /* Seitenfarbe   */
    color: #333;                             /* Schriftfarbe  */
    font-family: Verdana, Geneva, sans-serif;   /* Schriftart    */
    margin: 0px;
}

body a 
{
    /*color: #;    */
    
}

header
{
    margin: 0px; 
    background-color: #e6a56b;
    color: #ffffff;
    height: 190px;    
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
    padding-top: 15px;
    text-align: center;
    background: #e6a56b url(https://cdn.hyperdev.com/3821bc60-04ad-4269-86c9-7855177fe692%2Fbrown-animal-fur-texture-1.jpg)  no-repeat bottom;
}

#hilfscontainer
{
    width: 100%;
}

aside
{
    text-align: center;
    width: 100%;
}

nav
{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center; 
}

main
{
    background-color: #e6a56b;
    margin-top: 20px;  
    margin-bottom: 20px;
    color: #000000;
    width: 75%;
}

main h1
{
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 0px;
}

article
{
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
}

footer
{
   /* background-color: #63adff;

    color: #ffffff;
    
    font-style: italic;
    fonfont-size: 90%;t-weight: bolder;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    width: 100%;*/

    font-size: x-large;
}
img 
{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    
}

ul
{
    margin: 0;
    padding: 0px;
    width: 100%;
    list-style-type: none;
    font-size: large;
}

ul li a
{
    text-decoration: none;
    color: #ffffff;
    padding: 10.5px 11px; /*top right */
    background-color: #e6a56b;
    margin-bottom: 10px;
    display: block;
    border-radius:5px;   
}

ul li a:visited 
{
    color: #ffffff;
}

ul li a:hover, ul li.current
{
    color: #000000;
   /* background-color: yellow;*/
}

